<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Card Matching Game Standford.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7FB5FA0C1FA01A5500C17CB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FB5FA251FA01A5600C17CB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FB5FA301FA01A5600C17CB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
